<%- include('../../_header') %>
<div class="page_title" id="smartmakura_title">
<h2>Smart 枕</h2>
</div>
<div id="works_wrap">
	<div class="img_left">
		<img src="../../images/works/smartmakura_01.png">
		<div class="caption">
			<h3>睡眠を賢くサポートします</h3>
			<p>Smart枕は、Android端末と連携する枕型デバイス(圧力センサ、バイブレーション内蔵)を用いて、ユーザを確実に起こすと共に、睡眠の記録をもとにユーザにとって最適な睡眠時間を提供するプロダクトです。<br>

			詳しくは、後述の紹介動画をご覧ください。
			</p>
		</div>
	</div>
	<div class="img_right">
		<img src="../../../images/works/pnfimg_03.jpg">
		<div class="caption">
			<h3>寝過ごす心配はもうありません</h3>
			<p>
			他の目覚ましアプリとの大きな違いは、枕内部に圧力センサが組み込まれていることです。<br>
			センサが組み込まれていることにより、今寝ているかどうかを自動で判断することができ、もし寝過ごしているようならバイブレーションとサウンドを使い、起きるまで起こし続けてくれます。
			</p>
		</div>
	</div>
	<div class="img_left">
		<img src="../../../images/works/sm2.JPG">
		<div class="caption">
			<h3>パソコン甲子園モバイル部門本選に出場しました</h3>
			<p>福島県会津若松市・会津大学で開催されたパソコン甲子園2014モバイル部門本選に出場しました。<br>
			惜しくも受賞とはなりませんでしたが、会場に来られた方から大変好評をいただきました。
			</p>
		</div>
	</div>
	<div class="youtube">
		<iframe width="1500" height="1000" src="https://www.youtube.com/embed/MoNLpyuXeA8" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="works_detail">
		<h3>Smart枕</h3>
		<p class="develop">Design / Coding / Branding</p>
		<p class="tool">Android / Java / XML
		<p class="period">2014/06 − 2014/11</p>
		<p class="developer">3名</p>
		<p class="pamphlet"><a href="../../images/works/smartmakura_manual.pdf">作品マニュアル</a></p>
	</div>
</div>
<%- include('../_footer') %>
