<% include _header %>
<div class="page_title" id="works_title">
<h2>Works</h2>
</div>
<div id="works_wrap">
	<div class="work">
		<a href="works/mealie">
			<img src="../images/works/works_mealie_top.png" class="works_bg">
		</a>
		<div class="works_caption">
			<h2><a href="works/mealie">学食食券オンライン予約システム「Mealie」</a></h2>
			<p class="develop">Design / Coding / Branding</p>
			<p class="period">2016/04 − 2016/06</p>
		</div>
	</div>
	<div class="work">
		<a href="works/smartmakura">
			<img src="../images/smartmakura_01.png" class="works_bg">
		</a>
		<div class="works_caption">
			<h2><a href="works/smartmakura">Smart枕</a></h2>
			<p class="develop">Design / Coding / Branding</p>
			<p class="period">2014/07 − 2014/11</p>
		</div>
	</div>
</div>
<% include _footer %>
